table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

table td,
table th {
  border: 1px solid #eae2e2;
  padding: 8px;
  text-align: center;
}
