body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

.game-board {
  width: 420px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background: #2196f3;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.flipped {
  background: #4caf50;
}